.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.array-container {
  position: fixed;
  bottom: 0;
  overflow-x: auto;
  white-space: nowrap;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.array-bar {
  display: inline-block;
  margin: 0 1px;
}

.bar {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 200px;
  display: inline-block;
  text-align: center;
}

.margin {
  width: 15px;
  height: 5px;
}